.preview {
    height: 100%;

    .check {
        margin: 16px 20px;
    }

    .operation {
        display: flex;
        align-items: center;
    }

    .g-switch {
        .ant-switch {
            margin-right: 10px;
        }
    }
}